.counter-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.counter-number {
    font-size: 5rem;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: transparent
}