.mosaic-wrapper {
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    overflow: hidden;
}
.element{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    position: relative;
    justify-content: space-between;
}
.mosaic-first-paragraph-wrapper {
    grid-area: 1 / 1 / 2 / 4;
}
.mosaic-first-img-wrapper {
    grid-area: 1 / 4 / 2 / 7;
}
.mosaic-second-img-wrapper {
    grid-area: 2 / 1 / 3 / 3;
}
.mosaic-logo-wrapper {
    grid-area: 2 / 3 / 3 / 5;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}
.mosaic-third-img-wrapper {
    grid-area: 2 / 5 / 3 / 7;
}
.mosaic-fourth-img-wrapper {
    grid-area: 3 / 1 / 4 / 4;
}
.mosaic-second-paragraph-wrapper {
    grid-area: 3 / 4 / 4 / 7; 
}
.mosaic-background-img {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%!important;
    height: 100%!important;
    opacity: 0.5;
    object-fit: cover;
    overflow: hidden;
}
.mosaic-img {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
    overflow: hidden;
}
.logo {
    height: 50%!important;
    width: 50%!important;
}

